<div class="container">
    <h1 class="text-center">سعداء بالرد على إستفساراتك</h1>
    <form action="">
        <div class="form-group d-flex justify-content-between col-12">
            <div class="col-sm-6 m-2">
                <input type="text" class="form-control" placeholder="frist name">
            </div>
            <div class="col-sm-6 p-2">
                <input type="text" class="form-control" placeholder="last name">
            </div>
        </div>
        <div class="form-group">
            <input type="text" class="form-control m-2">
        </div>
        <div class="form group">
            <textarea name="message" class="form-control m-2" id="message" rows="7"></textarea>
        </div>
        <button class="btn m-2" type="submit">submit</button>
    </form>
</div>