<div class="col-12">
    <section class="frist-section">
        <img src="assets/bg-image.jpg" alt="" class="bg-image">
        <div class="container text-center text-light d-flex justify-content-center">
            <div class="col-sm-6 text-space">
                <div>
                    <h1 class="fixed-link">Alshaya Group</h1>
                    <h4>تصفية مستودعات </h4>
                    <h4>تعمل مجموعة الشايع على تفريغ مخازنها من البضائع وبيعها </h4>
                    <h4>بدون هامش ربحي بهدف التصفية </h4>
                    <button class="btn btn-primary fs-5" owlRouterLink="products">تسوق الان</button>
                </div>
            </div>
        </div>
    </section>

    <div class="col-12">
        <marquee behavior="auto" direction="right" class="d-flex">
            <span>
                <i class="bi bi-truck" style="margin: 5px;"></i>
                <span style="margin-left: 50px;">تسليم خلال 72 ساعة</span>
            </span>
            <span>
                <i class="bi bi-cash-coin" style="margin: 5px;"></i>
                <span style="margin-left: 50px;"> ارجاع مجاني</span>
            </span>
            <span>
                <span>100<i class="bi bi-percent" style="margin: 5px;"></i></span>
                <span style="margin-left: 50px;">عطور اصلية 100%</span>
            </span>
            <span>
                <i class="bi bi-gift-fill" style="margin: 5px;"></i>
                <span style="margin-left: 50px;">تصفيات مستودعات لفترة محدودة</span>
            </span>
            <span>
                <i class="bi bi-database-fill-add" style="margin: 5px;">الدفع عند الإستلام فى الإمارات - والكويت -
                    وعمان</i>
            </span>
            <span>
                <i class="bi bi-truck" style="margin: 5px;"></i>
            </span>
        </marquee>
    </div>

    <div class="col-12 owl-carousel-o">
        <div class="container">
            <h2 class="text-center">العروض</h2>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let item of productsOccasion">
                    <div class="card m-1 text-center owl-div">
                        <div class="position-relative">
                            <div class="position-relative products">
                                <img [src]="item.productImages['0'].img" class="image-view" alt="..." >
                                <img [src]="item.productImages['1'].img" class="image-view back-image-view" alt="..." *ngIf="item.productImages.length > 1" >
                                <img [src]="item.productImages['0'].img" class="image-view back-image-view" alt="..." *ngIf="item.productImages.length == 1" >
                                <div class="icons-div">
                                    <i class="bi bi-heart fs-5 m-1"></i>
                                    <i class="bi bi-search fs-5 m-1"></i>
                                    <i class="bi bi-cart3 fs-5 m-1"></i>
                                </div>
            
                            </div>
                            <div class="card-body">
                                <h6 class="card-title fs-5">{{item.title}}</h6>
                                <p *ngIf="item.department!='occasion'">{{item.price}} د.ك </p>
                            </div>
                        </div>
                    </div>
                </ng-template>

            </owl-carousel-o>
        </div>
    </div>

    <h2 class="text-center">الاكثر مبيعا </h2>
    <div class="container d-flex justify-content-center flex-wrap">
        <div class="col-lg-4 col-md-6 col-sm-8 p-3 owl-div text-center" *ngFor="let item of productsBasic">
            <div class="card">
                <div class="position-relative products">
                    <img [src]="item.productImages['0'].img" class="image-view" alt="..." >
                    <img [src]="item.productImages['1'].img" class="image-view back-image-view" alt="..." *ngIf="item.productImages.length > 1" >
                    <img [src]="item.productImages['0'].img" class="image-view back-image-view" alt="..." *ngIf="item.productImages.length == 1" >
                    <div class="icons-div">
                        <i class="bi bi-heart fs-5 m-1"></i>
                        <i class="bi bi-search fs-5 m-1"></i>
                        <i class="bi bi-cart3 fs-5 m-1"></i>
                    </div>

                </div>
                <div class="card-body">
                    <h6 class="card-title fs-5">{{item.title}}</h6>
                    <p *ngIf="item.department!='occasion'">{{item.price}} د.ك </p>
                </div>
            </div>
        </div>

    </div>

    <div class="container pt-5 drop-down-list">
        <h2 class="text-center">مزايا الخدمات</h2>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item border-bottom border-top p-1">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        ضمان الجودة
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        جميع العطور أصلية ١٠٠٪ تعبئة وختم الشركة الأم
                    </div>
                </div>
            </div>
            <div class="accordion-item border-bottom p-1">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        ضمان استعادة الاموال
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        إذا لم تكن راضيا عن جودة المنتج ، فيمكنك إعادته في غضون 3 أيام من تاريخ أستلام الطلب
                    </div>
                </div>
            </div>
            <div class="accordion-item border-bottom p-1">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        الدفع عند الاستلام
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        يمكنك الدفع نقدا أو باستخدام بطاقة الائتمان عند تسليم طلبك
                    </div>
                </div>
            </div>
            <div class="accordion-item border-bottom p-1">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        ارجاع مجاني
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        إذا كان العنصر لا يناسبك، فسنعتني به. يمكنك إرجاع أي عنصر مجانا عن طريق البريد أو عن طريق
                        التواصل مع موظف خدمة العملاء عبر الواتساب على الرقم التالي +96567673169
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="p-5 low-prices-div">
        <h3 class="text-center">سبب إنخفاض الأسعار</h3>
        <img src="assets/alshaya-group.jpeg" alt="" class="w-100" style="border-radius: 10px;">
        <div class="text-center">
            <h4>تقوم مجموعة الشايع بتجديد جميع بضائعها بإستمرار <br>
                لهذا السبب قررت الشركة بيع جميع المنتجات القديمة في مستودعاتها <br>
                داخل دولة الكويت من فئة العطور بدون إي هامش ربحي بهدف التصفية</h4>
        </div>
    </div>

    <div class="bg-gold text-center">
        <p>أحظى بتجربة ممتازة</p>
        <p>الضمان الذهبي</p>
        <p>للعلم أذا كانت أول تجربة فيرجى العلم</p>

        <p>بأن جميع العطور أصلية ١٠٠٪ صناعة فرنسية</p>

        <p>لا تختلف عن التي تقوم بشرائها من متاجرنا بتاتًا</p>

        <p>نوفر ضمان لمدة ٣ أيام من تاريخ أستلام الطلب</p>

        <p>يحق للعميل أستبدال أو أسترجاع الطلب في حال وجود أي ملاحظة خلال فترة الضمان</p>

        <button class="btn btn-light">تسوق الان</button>
    </div>

    <div class="p-2">
        <h2 class="text-center pt-5 pb-2">لماذا يحبنا عملائنا</h2>
        <owl-carousel-o [options]="customOptions2">
            <ng-template carouselSlide>
                <div class="card m-1 p-4 text-center card-slide">
                    <div>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                    </div>
                    <div class="card-body">
                        <p>
                            اسعاركم ممتازة والأسعار ما عليها كلام الله يوفقكم
                        </p>
                        <h6 class="card-title fs-6">على بن خالد الزعابي</h6>
                    </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="card m-1 p-3 text-center card-slide">
                    <div>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                    </div>
                    <div class="card-body">
                        <p>
                            قضيت عمري وانا اشتريها يضعف القيمة يارتني عرفتكم من
                            زمان
                        </p>
                        <h6 class="card-title fs-6">مهرة</h6>
                    </div>
                </div>
            </ng-template>


            <ng-template carouselSlide>
                <div class="card m-1 p-3 text-center card-slide">
                    <div>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                    </div>
                    <div class="card-body">
                        <p>
                            تأخر على التوصيل شوى لاكن البضاعة كانت بحالة جيدة
                            ما كنت متوقع احصل على شي من عطور ديمور بها لسعر
                        </p>
                        <h6 class="card-title fs-6">khaled haj</h6>
                    </div>
                </div>
            </ng-template>


            <ng-template carouselSlide>
                <div class="card m-1 p-3 text-center card-slide">
                    <div>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                    </div>
                    <div class="card-body">
                        <p>
                            استلمت العطور وكانت أصليه كلها ماصدقت حتى فحصتها
                            بالمركز الفرنسي واكدوا لى أنها عطور أصلية خبرت الأهل
                            والأصدقاء عنكم وتستاهلون كل خير
                        </p>
                        <h6 class="card-title fs-6">حمد المهري</h6>
                    </div>
                </div>
            </ng-template>


            <ng-template carouselSlide>
                <div class="card m-1 p-3 text-center card-slide">
                    <div>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                        <i class="bi bi-star-fill text-warning"></i>
                    </div>
                    <div class="card-body">
                        <p>
                            وصلتي طلبي سلطنة عمان خلال 3 أيام وكان بافضل حال
                            شركة محترمة وخدمة العملاء متعاونة ومميزة انا الآن.
                            بانتظار طلبيني الثانية شكرا
                        </p>
                        <h6 class="card-title fs-6">NOHA AHMED ALSIYABI</h6>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>

    <div class="text-center">
        <h5 class="fs-4 pb-2">تواصل معنا</h5>
        <h6 class="pb-1"> <a class="text-dark" href="https://wa.me/+971526252954" target="_blank">(971) 52 625 2954:
                اتصل بنا</a></h6>
        <h6 class="pb-1">أيام العمل : السبت - الخميس</h6>
        <h6 class="pb-1"> <i class="bi bi-instagram text-danger m-1 fs-5"></i> <i
                class="bi bi-whatsapp text-success m-1 fs-5"></i> تابعنا على</h6>
    </div>
</div>