<section class="col-12 frist-section">
    <img src="assets/bg-image.jpg" alt="" class="bg-image">
    <marquee behavior="auto" direction="right" class="d-flex" style="color: white;">
        <span>
            <i class="bi bi-truck" style="margin: 5px;"></i>
            <span style="margin-left: 50px;">تسليم خلال 72 ساعة</span>
        </span>
        <span>
            <i class="bi bi-cash-coin" style="margin: 5px;"></i>
            <span style="margin-left: 50px;"> ارجاع مجاني</span>
        </span>
        <span>
            <i class="bi bi-truck" style="margin: 5px;"></i>
            <span style="margin-left: 50px;">عطور اصلية 100%</span>
        </span>
        <span>
            <i class="bi bi-truck" style="margin: 5px;"></i>
            <span style="margin-left: 50px;"> ارجاع مجاني</span>
        </span>
        <span>
            <i class="bi bi-truck" style="margin: 5px;"></i>
        </span>
    </marquee>

    <div class="container text-center text-light d-flex justify-content-center">
        <div class="col-sm-6 product-space text-space">
            <div>
                <h1>Site Title</h1>
                <h2>Site Paragraph</h2>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. iste consectetur totam eos adipisci,</h3>
            </div>
        </div>
    </div>
</section>




<div class="col-12">
    <h2 class="text-center">العروض</h2>

    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="card m-1 text-center">
                <img src="assets/1.jpg" class="card-img-top" alt="...">
                <div>
                    <i class="bi bi-heart fs-5 m-1"></i>
                    <i class="bi bi-search fs-5 m-1"></i>
                    <i class="bi bi-cart3 fs-5 m-1"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title fs-5">Card titleu</h5>
                    <a class="text-decoration-none">10 د.أ</a>
                </div>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="card m-1 text-center">
                <img src="assets/1.jpg" class="card-img-top" alt="...">
                <div>
                    <i class="bi bi-heart fs-5 m-1"></i>
                    <i class="bi bi-search fs-5 m-1"></i>
                    <i class="bi bi-cart3 fs-5 m-1"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title fs-5">Card titleu</h5>
                    <a class="text-decoration-none">10 د.أ</a>
                </div>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="card m-1 text-center">
                <img src="assets/2.jpg" class="card-img-top" alt="...">
                <div>
                    <i class="bi bi-heart fs-5 m-1"></i>
                    <i class="bi bi-search fs-5 m-1"></i>
                    <i class="bi bi-cart3 fs-5 m-1"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title fs-5">Card titleu</h5>
                    <a class="text-decoration-none">10 د.أ</a>
                </div>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="card m-1 text-center">
                <img src="assets/3.jpg" class="card-img-top" alt="...">
                <div>
                    <i class="bi bi-heart fs-5 m-1"></i>
                    <i class="bi bi-search fs-5 m-1"></i>
                    <i class="bi bi-cart3 fs-5 m-1"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title fs-5">Card titleu</h5>
                    <a class="text-decoration-none">10 د.أ</a>
                </div>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="card m-1 text-center">
                <img src="assets/4.jpg" class="card-img-top" alt="...">
                <div>
                    <i class="bi bi-heart fs-5 m-1"></i>
                    <i class="bi bi-search fs-5 m-1"></i>
                    <i class="bi bi-cart3 fs-5 m-1"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title fs-5">Card titleu</h5>
                    <a class="text-decoration-none">10 د.أ</a>
                </div>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="card m-1 text-center">
                <img src="assets/5.jpg" class="card-img-top" alt="...">
                <div>
                    <i class="bi bi-heart fs-5 m-1"></i>
                    <i class="bi bi-search fs-5 m-1"></i>
                    <i class="bi bi-cart3 fs-5 m-1"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title fs-5">Card titleu</h5>
                    <a class="text-decoration-none">10 د.أ</a>
                </div>
            </div>
        </ng-template>

        <ng-template carouselSlide>
            <div class="card m-1 text-center">
                <img src="assets/6.jpg" class="card-img-top" alt="...">
                <div>
                    <i class="bi bi-heart fs-5 m-1"></i>
                    <i class="bi bi-search fs-5 m-1"></i>
                    <i class="bi bi-cart3 fs-5 m-1"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title fs-5">Card titleu</h5>
                    <a class="text-decoration-none">10 د.أ</a>
                </div>
            </div>
        </ng-template>

    </owl-carousel-o>


    <div class="col-12">
        <h2 class="text-center">المبيعات</h2>
        <div class="col-sm-3 p-2 text-center">
            <div class="card">
                <img src="assets/2.jpg" class="card-img-top" alt="...">
                <div>
                    <i class="bi bi-heart fs-5 m-1"></i>
                    <i class="bi bi-search fs-5 m-1"></i>
                    <i class="bi bi-cart3 fs-5 m-1"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title fs-5">Card titleu</h5>
                    <a class="text-decoration-none">10 د.أ</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 p-2 text-center">
            <div class="card">
                <img src="assets/3.jpg" class="card-img-top" alt="...">
                <div>
                    <i class="bi bi-heart fs-5 m-1"></i>
                    <i class="bi bi-search fs-5 m-1"></i>
                    <i class="bi bi-cart3 fs-5 m-1"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title fs-5">Card titleu</h5>
                    <a class="text-decoration-none">10 د.أ</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 p-2 text-center">
            <div class="card">
                <img src="assets/4.jpg" class="card-img-top" alt="...">
                <div>
                    <i class="bi bi-heart fs-5 m-1"></i>
                    <i class="bi bi-search fs-5 m-1"></i>
                    <i class="bi bi-cart3 fs-5 m-1"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title fs-5">Card titleu</h5>
                    <a class="text-decoration-none">10 د.أ</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 p-2 text-center">
            <div class="card">
                <img src="assets/5.jpg" class="card-img-top" alt="...">
                <div>
                    <i class="bi bi-heart fs-5 m-1"></i>
                    <i class="bi bi-search fs-5 m-1"></i>
                    <i class="bi bi-cart3 fs-5 m-1"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title fs-5">Card titleu</h5>
                    <a class="text-decoration-none">10 د.أ</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 p-2 text-center">
            <div class="card">
                <img src="assets/6.jpg" class="card-img-top" alt="...">
                <div>
                    <i class="bi bi-heart fs-5 m-1"></i>
                    <i class="bi bi-search fs-5 m-1"></i>
                    <i class="bi bi-cart3 fs-5 m-1"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title fs-5">Card titleu</h5>
                    <a class="text-decoration-none">10 د.أ</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 p-2 text-center">
            <div class="card">
                <img src="assets/7.jpg" class="card-img-top" alt="...">
                <div>
                    <i class="bi bi-heart fs-5 m-1"></i>
                    <i class="bi bi-search fs-5 m-1"></i>
                    <i class="bi bi-cart3 fs-5 m-1"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title fs-5">Card titleu</h5>
                    <a class="text-decoration-none">10 د.أ</a>
                </div>
            </div>
        </div>
        <div class="col-sm-3 p-2 text-center">
            <div class="card">
                <img src="assets/8.jpg" class="card-img-top" alt="...">
                <div>
                    <i class="bi bi-heart fs-5 m-1"></i>
                    <i class="bi bi-search fs-5 m-1"></i>
                    <i class="bi bi-cart3 fs-5 m-1"></i>
                </div>
                <div class="card-body">
                    <h5 class="card-title fs-5">Card titleu</h5>
                    <a class="text-decoration-none">10 د.أ</a>
                </div>
            </div>
        </div>

    </div>