<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <div class="text-center w-100">
        <a class="navbar-brand text-capitalize" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-sliders m-2" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3M2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3m-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1z"/>
          </svg>
          ecommerce
        </a>
      </div>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title text-capitalize" id="offcanvasNavbarLabel">ecommerce</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
           
            <li class="nav-item" id="basic" (click)="setAcitve('home')">
              <a class="nav-link" type="button" data-bs-dismiss="offcanvas" aria-label="Close" (click)="typeOfDataFromParent='basic-page';">الصفحة الرئيسية </a>
            </li>
            <li class="nav-item" id="men" (click)="setAcitve('products')">
              <a class="nav-link" type="button" data-bs-dismiss="offcanvas" aria-label="Close" (click)="typeOfDataFromParent='men';">منتجات</a>
            </li>
            <div class="text-center">
              <button class="btn btn-danger" (click)="logout()"> تسجيل خروج <i class="bi bi-box-arrow-left"></i></button>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- <app-products [typeOfDataFromParent]="typeOfDataFromParent" *ngIf="typeOfDataFromParent !='' && typeOfDataFromParent !='basic-page'"></app-products> -->
  <!-- <app-home-page [typeOfDataFromParent]="typeOfDataFromParent" *ngIf="typeOfDataFromParent !='' && typeOfDataFromParent =='basic-page'"></app-home-page> -->