/* You can add global styles to this file, and also import other style files */
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "primeicons/primeicons.css";
@import 'ngx-toastr/toastr';


* {
    box-sizing: border-box;
    transition: .4s;
}

$bgcolor: rgb(186, 141, 57);

// :root{
//     --bgcolor:rgb(186, 141, 57);
// }

[class *="col-"] {
    float: right;
}

img::selection {
    background: none;
    border-radius: 5px;
}

button {
    border: none;
    background: none;
    padding: 10px 20px;
    border-radius: 5px;
}

label {
    text-transform: capitalize;
    margin-top: 10px !important;
}

h2 {
    color: $bgcolor !important;
}
.title{
    padding-top: 35px;
}
@media screen and (max-width:700px) {
    [class *="col-"] {
        width: 100%;
    }
}