/* You can add global styles to this file, and also import other style files */
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "primeicons/primeicons.css";

* {
    box-sizing: border-box;
    transition: .4s;
}

[class *="col-"] {
    float: right;
}

@media screen and (max-width:700px) {
    [class *="col-"] {
        width: 100%;
    }
}