/* // dash style  */

.dash-padding{
    margin-top: 15px;
    direction: rtl;
}
th{
    text-align: center;
    padding-right: 15px;
}
td{
    text-align: center;
    word-break: break-all;
    line-break: break-all;
    background-color: #eee;
}
.small-image{
    width: 75px;
    height: 65px;
    border-radius: 10px;
}
.form-label{
    margin-right: 6px;
}
input[type="file"].product-photos{
    height: 150px;
    opacity: 0;
}
.images-upload{
    background-color: rgba(238, 238, 238, 0.842);
    border-radius: 10px;
}
.images-upload:hover{
    background-color: rgb(2 77 63 / 68%);
}
.svg-upload{
    margin-top: -175px;
    z-index: 2;
    height: 70px;
    width: 70px;
    margin-right: calc(50% - 35px);
    color: coral;
}
.btn-add{
    margin-right: 25px;
    margin-left: 5px;
}
.promo-Image-div{
    margin-right: 15px;
     float: right;
}
.delete-image-btn{
    font-size: large;
    background: none;
    border: none;
    border-radius: 50%;
    position: relative;
    top: -32px;
    right: 5px;
    z-index: 2;
}
.btn{
    font-size: 14px;
    margin-top: 5px;
}
.btn-secondary{
    margin-right: 5px;
}
.social-btn{
    margin: 5px;
}
.social-btn:last-of-type{
    margin-left: 25px;
}
/* // ----------------------------------------------------- */
.modal-content{
    width: 125%;
    margin-right: -12.5%;
}
.modal-title{
    width: 100%;
    text-transform: capitalize;
    text-align: center;
}

@media screen and (max-width:600px){
    .modal-content{
        width: 100%;
        margin-right: 0%;
    }
    textarea.form-control {
        width: 160px;
    }
}