/* // ----------------------- user header style -------------------------- */
.desktop {
    display: block !important;
}

.mobile {
    display: none !important;
}

.navbar-toggler {
    margin-bottom: 5px;
}

.active,
.text-danger {
    font-weight: 600;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-right: 2%;
}

.nav-item {
    display: flex;
    align-items: center;
    text-align: center;
}

.nav-link {
    position: relative;
    z-index: 2;
}

.nav-link:hover {
    border-radius: 3px;
    background-color: #e1e1ff;
}

form.d-flex {
    padding-left: 4%;
}

.bg-light {
    background-color: #ffffffb8 !important;
    backdrop-filter: blur(9px) !important;
}

.position-fixed {
    width: 100%;
    top: 7px;
    z-index: 3;
}

.departments {
    padding-right: 5%
}

.department-link {
    display: inline-block;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: black;
    padding-right: 11px;
    font-size: 1rem;
}

/* --------------------------- search list ------------------------- */
.search-list {
    position: absolute;
    top: 51px;
    left: auto;
    background-color: white;
    width: 17.5%;
    padding: 6px;
    border-radius: 6px;
    height: 40vh !important;
    overflow-y: scroll;
    z-index: 4;
}

.img-search-list {
    vertical-align: middle;
    height: 35px !important;
    width: 35px !important;
    border-radius: 5px;
    margin-left: 3px;
}

.search-list p {
    margin-bottom: 3px;
    padding: 5px;
    border-bottom: 1px solid lightgoldenrodyellow;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 1.2vw;
    justify-content: space-between;
}

.search-list p a {
    width: 100%;
}

.search-list p:hover {
    background-color: #eee;
}

/* // ------------------------- favourites of products ------------------------ */

svg {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 23px;
    width: 23px;
    z-index: 2;
    fill: darkgrey;
}

svg:hover {
    fill: #ff1212;
}

/* ---------------------------------------------------- */

.global-padding {
    margin-top: 111px;
    display: flex;
    flex-wrap: wrap;
}

/* .page-top-content{
    height: 450px;
}
.page-top-image{
    height: 100%;
    width: 100%;
}
.page-top-text-content{
    padding: 60px 40px;
} */

.img-carasouel-view {
    height: 35vh;
    height: 40vh;
    /* height: calc(100vh - 400px); */
}

ul.dropdown-menu {
    position: absolute;
    max-height: 50vh;
    overflow-y: auto;
    left: -47%;
}

ul.dropdown-menu::-webkit-scrollbar,
.search-list::-webkit-scrollbar {
    width: 5px;
}

.dropdown-brand-list-desktop {
    display: block;
}

.dropdown-brand-list-mobile {
    display: none;
}

.col-sm-3 {
    float: right !important;
}

.product {
    border: none !important;
    float: right;
    border-radius: 4px !important;
    width: 100%;
    padding: 25px;
    padding-bottom: 15px;
}

.product img {
    width: 90%;
    height: 310px;
    border-radius: 15px !important;
    margin-right: 5%;
}

.product:hover img:last-of-type {
    display: block;
}

.product:hover img:first-of-type {
    display: none;
}

.product img:last-of-type {
    display: none;
}

.card-body {
    padding-bottom: 0px !important;
}

p {
    margin-bottom: 3px;
}

.card-title {
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.card-text {
    overflow: hidden;
    max-height: 50px;
    /* height: 50px; */
    height: 25px;
    text-overflow: ellipsis;
    display: inline-block;
    margin-bottom: 0px;
    line-break: anywhere;
}

.occasion-price span {
    margin-right: 10px;
}

.btn {
    font-size: 14px !important;
}

.btn-more {
    background: none;
    border: none;
    background-color: #e7e7e7;
    padding: 10px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.btn-more:hover {
    color: cornsilk;
    background-color: #478e91;
}

@media screen and (max-width:991px) {
    .dropdown-brand-list-desktop {
        display: none;
    }

    .dropdown-brand-list-mobile {
        display: block;
    }

    .bg-light {
        background-color: white !important;
    }

    .navbar-nav {
        padding-right: 0%;
    }

    .navbar-collapse {
        padding-bottom: 5px;
    }

    .navbar-nav .nav-item .nav-link {
        padding-right: 0%;
        width: 100%;
        text-align: start;
    }

    .navbar-nav .nav-item .nav-link:hover {
        background-color: white;
    }

    ul.dropdown-menu {
        position: fixed;
        max-height: 84vh;
        overflow-y: auto;
        top: 5px;
        width: 98%;
        left: 1%;
    }

    .product p {
        font-size: .75rem;
    }

    .search-list {
        width: 88%;
        top: 220px;
        margin-right: 2%;
        height: 35vh !important;
    }

}

@media screen and (max-width:600px) {
    .desktop {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }

    .position-fixed {
        top: 3px;
    }

    .img-carasouel-view {
        height: 25vh;
        height: 31vh;
    }

    .col-sm-3 {
        width: 50%;
        margin-bottom: 5px;
    }

    svg {
        top: 3px;
        left: 3px;
    }

    .search-list p {
        font-size: 15px;
    }

    /* .page-top-content{
        height: auto !important;
    }
    .page-top-content img{
        height: 250px !important;
    } */
    .product {
        padding: 3px;
        /* height: 380px; */
        /* box-shadow: 0px 0px 3px #b8b8b87a; */
        overflow: hidden;
    }

    .product img {
        height: 210px !important;
    }

    .global-padding {
        margin-top: 150px;
    }

    .page-top-text-content {
        padding: 15px;
    }

    .mt-5 {
        margin-top: 85px !important;
    }

    .card-body p {
        margin-right: -6px;
        display: flex;
        align-items: center;
    }

    .card-title {
        font-size: 1rem;
        justify-content: center;
        font-weight: 600;
    }

    .card-text {
        height: 35px;
        font-size: .9rem;
    }

    .occasion-price span {
        margin-right: 6px;
    }
}